{% set backgroundClass = backgroundClass ?? null %}
{# pass bannerBody as true to make it a smaller constrained banner. #}
{% set bannerClasses = bannerBody is defined and bannerBody ? 'page mx-auto rounded-xl !max-w-[1475px] !px-0 max-h-[800px] fade-in max-md:rounded-none !w-screen md:!w-[calc(100vw-64px)] lg:!w-[calc(100vw-125px)]' : '' %}
{# for any other classes to be passed #}
{% set bannerClass = bannerClass ?? null %}

<div class="banner {{ 'entry-type-' ~ entry.type }} {{ entry.slug }} {{ bannerClasses }} {{ bannerClass }} py-6 sm:py-8 md:py-12 lg:py-16 relative min-h-[600px] lg:min-h-[820px] max-md:max-h-[800px] max-lg:max-h-[1000px] h-svh w-screen overflow-hidden bg-white">
	<div class="text page items-end flex h-full z-5 relative text-white">
		<div class="grid grid-cols-12 fade-in w-full">
			{% block content %}
				{# Default content, can be overridden in child templates #}
			{% endblock %}
		</div>
	</div>
	<div class="background {{ backgroundClass }}">
		{% block background %}
			{# Default background logic, can be overridden in child templates #}
		{% endblock %}
	</div>
</div>
