{% set columnSpan = slide.columnSpan ?? 4 %}
{% set gridSpan = gridSpan ?? 12 %}
{% set slideClass = slideClass ?? null %}
{% set textColor = textColor ?? 'white' %}
{% set color = slide.color ?? 'red' %}
{% set hasBackground = false %}
{% set hasInlineTextImage = false %}
{% set widthPercent = ((columnSpan / gridSpan) * 100)|number_format(6, '.', '') %}
{% set widthSubtract = widthSubtract ?? '1rem' %}

{% for block in slide.slideMatrix %}
	{% if block.type.handle == 'asset' and block.asset|length %}
		{% set hasBackground = true %}
	{% elseif block.type.handle == 'text' and block.text is defined and '<img' in block.text %}
		{% set hasInlineTextImage = true %}
	{% endif %}
{% endfor %}

{% set isWhiteCard = color == 'white' %}
{% set isWhiteWithoutAsset = isWhiteCard and not hasBackground %}
{% set slideTextClass = isWhiteWithoutAsset ? 'text-charcoal' : 'text-' ~ textColor %}
{% set historyMode = historyMode ?? false %}
{% set buttonClass = isWhiteCard ? '!bg-red !text-white text-white' : '!bg-white !text-' ~ color ~ ' text-' ~ color %}
{% set buttonStyle = 'display:inline-flex;width:auto;height:auto;min-height:0;line-height:1.2;' %}
{% set buttonIncludeProps = {
    class: buttonClass,
    attributes: {
        style: buttonStyle
    }
} %}

<div class="max-lg:!max-w-[500px] max-lg:!w-[calc(100%_-_20px)] flex-none slide {{ slideTextClass }} grid grid-cols-{{ gridSpan }} {{ slideClass }}
	    md:grid-cols-{{ columnSpan }} sm:grid-cols-12" style="width: calc({{ widthPercent }}% - {{ widthSubtract }}); max-width: calc({{ widthPercent }}% - {{ widthSubtract }});">

	<div
		class="min-h-[450px] md:min-h-[600px] h-full col-span-12 md:col-span-{{ columnSpan }} rounded-xl overflow-hidden h-full relative bg-{{ color }}{% if isWhiteCard %} border border-gray-300{% endif %}">

		<!-- Text -->
		<div class="w-full absolute z-2 space-y-4 p-8 bottom-0 {{ slideTextClass }}">
			{% for block in slide.slideMatrix %}
				{% switch block.type.handle %}
					{% case 'text' %}
						{% include '_includes/_blocks/text' with {
                            text: block.text,
                            h1Class: 'col-span-12 ' ~ slideTextClass,
                            h2Class: 'col-span-12 ' ~ slideTextClass,
                            h3Class: 'col-span-12 ' ~ slideTextClass,
                            h4Class: 'col-span-12 ' ~ slideTextClass,
                            pClass: 'col-span-12 text-base max-w-[350px] w-full ' ~ slideTextClass,
                            figureClass: 'col-span-8'
                        } %}
					{% case 'buttons' %}
						{% set buttonRelation = block.buttons is defined ? block.buttons : null %}
						{% set slideButtons = buttonRelation ? buttonRelation.all() : [] %}
						{% for button in slideButtons %}
							{% include '_includes/_blocks/button' with buttonIncludeProps|merge({
                                link: button.buttonLink,
                                label: button.buttonLabel
                            }) %}
						{% endfor %}
				{% endswitch %}
			{% endfor %}
		</div>

		<!-- Background -->
		{% for block in slide.slideMatrix %}
			{% switch block.type.handle %}
				{% case 'asset' %}
					{% set asset = block.asset is defined and block.asset ? block.asset.one() : null %}
					{% if asset and not hasInlineTextImage %}
						<div class="w-full h-full block">
							{% include '_includes/_blocks/gradient' with {
                            height: '1/2',
                            colorOpacity: 40
                        } %}
							{% include '_includes/_blocks/asset' with {
                            asset: asset,
                            class: 'h-full w-full object-cover'
                        } %}
						</div>
					{% endif %}
			{% endswitch %}
		{% endfor %}
	</div>

	{# caption #}
	{% set hasCaption = false %}
	{% for block in slide.slideMatrix %}
		{% switch block.type.handle %}
			{% case 'caption' %}
				{% set hasCaption = true %}
				<div class="slide-caption mt-4 col-span-2 fade-in" data-cascade>
					{% include '_includes/_blocks/text' with {
                        text: block.caption,
                        pClass: 'text-base col-span-12'
                    } %}
				</div>
		{% endswitch %}
	{% endfor %}
	{% if historyMode and not hasCaption %}
		<div class="slide-caption slide-caption--empty mt-4 col-span-2" aria-hidden="true"></div>
	{% endif %}
</div>
