<div class="slide project">
    {% if loop.first %}
        <div class="first-slide">
            <div class="image scale red {% if height is defined %}{{ height }}{% endif %}">
            </div>
            <div class="text">
                <div onclick="window.location.href='/projects/all';" class="block">
                    <h4>All Projects</h4>
                    {% include '_includes/_blocks/button' with {
                        link: '/projects/all',
                        label: 'Explore All',
                        firstArrow: 'white-arrow',
                        secondArrow: 'white-arrow',
                        fadeIn: false
                    } %}
                </div>
                <div onclick="window.location.href='/projects/new-builds';" class="block">
                    <h4>New Builds</h4>
                    {% include '_includes/_blocks/button' with {
                        link: '/projects/new-builds',
                        label: 'Explore New Builds',
                        firstArrow: 'white-arrow',
                        secondArrow: 'white-arrow',
                        fadeIn: false
                    } %}
                </div>
                <div onclick="window.location.href='/projects/remodels';" class="block">
                    <h4>Remodels</h4>
                    {% include '_includes/_blocks/button' with {
                        link: '/projects/remodels',
                        label: 'Explore Remodels',
                        firstArrow: 'white-arrow',
                        secondArrow: 'white-arrow',
                        fadeIn: false
                    } %}
                </div>
            </div>
        </div>
    {% else %}
        <a href="{{ slide.url }}" data-project-id="{{ slide.id }}">
            <div class="project-image image scale {% if height is defined %}{{ height }}{% endif %}" data-project-id="{{ slide.id }}">
                {% if slide.projectImages is defined %}
                    {% set asset = slide.projectImages.one() %}
                    {% if asset %}
                        {% include '_includes/_blocks/asset' %}
                    {% endif %}
                {% endif %}
            </div>
        </a>
        <div class="text">
            {% include '_projects/projectInfo' with {
                entry: slide,
                size: 'h4',
                fadeIn: false
            } %}
            {% include '_includes/_blocks/button' with {
                link: slide.url,
                label: 'Explore Project',
                firstArrow: 'red-arrow',
                secondArrow: 'black-arrow',
                fadeIn: false,
                attributes: {
                    'data-project-id':slide.id
                }
            } %}
        </div>
    {% endif %}
</div>