{% set columnSpan = slide.columnSpan ?? 4 %}
{% set color = slide.color ?? 'red' %}
{% set assetRelation = slide.asset is defined ? slide.asset : null %}
{% set asset = assetRelation ? assetRelation.one() : null %}
{% set hasBackground = asset ? true : false %}
{% set hasInlineTextImage = slide.text is defined and slide.text and '<img' in slide.text %}
{% set isWhiteCard = color == 'white' %}
{% set isWhiteWithoutAsset = isWhiteCard and not hasBackground %}
{% set slideTextClass = isWhiteWithoutAsset ? 'text-charcoal' : 'text-white' %}
{% set widthPercent = ((columnSpan / 12) * 100)|number_format(6, '.', '') %}
{% set buttonClass = isWhiteCard ? '!bg-red !text-white text-white' : '!bg-white !text-' ~ color ~ ' text-' ~ color %}
{% set buttonStyle = 'display:inline-flex;width:auto;height:auto;min-height:0;line-height:1.2;' %}
{% set buttonIncludeProps = {
    class: buttonClass,
    attributes: {
        style: buttonStyle
    }
} %}

<div class="max-lg:!max-w-[500px] max-lg:!w-[calc(100%-20px)] flex-none slide" style="width: calc({{ widthPercent }}% - 1rem); max-width: calc({{ widthPercent }}% - 1rem);">

	<div class="rounded-xl overflow-hidden h-full relative bg-{{ color }}{% if isWhiteCard %} border border-gray-300{% endif %}">
		{% if asset and not hasInlineTextImage %}
			{% include '_includes/_blocks/gradient' with { 
                height: '1/2', opacity: 40
            } %}
			{% include '_includes/_blocks/asset' with {
                asset: asset
            } %}
		{% endif %}

		<div class="w-full absolute z-2 space-y-4 p-8 bottom-0 {{ slideTextClass }}">
			{% if slide.title|length %}
				<h3 class="text-4xl">{{ slide.title }}</h3>
			{% endif %}
			{% if slide.text|length %}
				{% include '_includes/_blocks/text' with {
                    text: slide.text,
                    h1Class: 'col-span-12 ' ~ slideTextClass,
                    h2Class: 'col-span-12 ' ~ slideTextClass,
                    h3Class: 'col-span-12 ' ~ slideTextClass,
                    h4Class: 'col-span-12 ' ~ slideTextClass,
                    pClass: 'col-span-12 text-base max-w-[350px] w-full ' ~ slideTextClass
                } %}
			{% endif %}
			{% if slide.buttonLink|length %}
				{% include '_includes/_blocks/button' with buttonIncludeProps|merge({
                    link: slide.buttonLink,
                    label: slide.buttonLabel
                }) %}
			{% endif %}
		</div>
	</div>
</div>
