{% if entry.stickyBlocksHeader %}
	<div class="page max-lg:!m-0 max-lg:!mb-6 max-lg:!max-w-fit">
		<div class="md:block lg:hidden xl:block static lg:absolute border border-white inline text-md font-medium tracking-tighter text-white p-2.5 px-4 md:p-3 lg:p-4 rounded-md mb-12">
			{{ entry.stickyBlocksHeader }}
		</div>
	</div>
{% endif %}
<div class="sticky-blocks page mx-auto grid grid-cols-12 relative">
	{% for block in entry.stickyBlocks.all() %}
		<!-- Text Container -->
		<div class="grid col-span-12 lg:col-span-6 grid-cols-subgrid">
			<div class="grid col-span-12 lg:col-span-6 grid-cols-subgrid text-white self-center">
				<span class="col-span-12 md:col-span-6 row-start-1 text-xl font-medium mb-2 tracking-tighter">
					0{{ loop.index }}
				</span>
				<h2 class="col-span-12 md:col-span-8 lg:col-span-4 row-start-2 mb-4 lg:mb-8">

					{{ block.title }}
				</h2>
				<h3 class="col-span-12 md:col-span-6 lg:col-span-5 xl:col-span-4 row-start-3 mb-4">
					{{ block.subtitle }}
				</h3>
				<div class="col-span-12 md:col-span-8  lg:col-span-6 xl:col-span-5">
					{{ block.text }}
				</div>
			</div>
		</div>

		<!-- Image Container -->
		<div class="col-span-12 lg:col-span-6 static lg:sticky top-40 max-lg:mt-6 mb-16">
			<div class="image-container rounded-xl overflow-hidden">
				{% if block.asset|length %}
					{% include '_includes/_blocks/asset' with {
                        ratio: '1:1',
                        asset: block.asset.one()
                    } %}
				{% endif %}
			</div>
		</div>
	{% endfor %}
</div>
