{% block content %}
	<div class="page grid grid-cols-12 pt-[200px]">
		{% set contactCategories = craft.categories.group('contact').all() %}
		{% for category in contactCategories %}
			<div class="col-span-12 grid grid-cols-subgrid mb-8 fade-in" data-cascade>
				<h2 class="text-6xl col-span-12 mb-4">{{ category.title }}
					Contacts</h2>
				{% include '_includes/_blocks/text' with {
                    text: category.text,
                    pClass: 'col-span-4'
                } %}
				{% set contacts = craft.entries()
                    .section('staff')
                    .relatedTo(category)
                    .all() %}
			</div>
			<div class="slider-wrapper mb-20 col-span-12">
				<div class="slider overflow-y-hidden py-[2px]">
					{% for contact in contacts %}
						<!-- Card Container -->
						<div
							class="slide outline-hover xl:flex-span-4 lg:flex-span-6 sm:flex-span-10 flex-span-11 rounded-xl overflow-hidden h-[650px] relative transition-all fade-in" data-cascade>

							<!-- Gradient Overlay -->
							{% include '_includes/_blocks/gradient.twig' with {
                                height: '1/4',
                                opacity: '50'
                            } %}
							<!-- Text Content -->
							<div class="absolute flex flex-col items-baseline bottom-8 left-10 text-white z-2">
								<div class="flex gap-6 transition-all duration-300 {% if contact.phone or contact.email %}group-hover:-translate-y-16{% endif %}">
									<h3 class="text-3xl">{{ contact.title }}</h3>
									<p class="text-3xl font-normal">{{ contact.position }}</p>
								</div>
								<div class="absolute w-full -bottom-4 flex justify-start space-x-4 opacity-0 group-hover:opacity-100 transition-all {% if contact.phone or contact.email %}group-hover:-translate-y-6{% endif %}">
									{% if contact.phone %}
										<a href="tel:{{ contact.phone }}" class="text-center w-1/2 text-lg font-medium bg-red text-white px-4 py-2 rounded">
											Call
										</a>
									{% endif %}
									{% if contact.email %}
										<a href="mailto:{{ contact.email }}" class="text-center w-1/2 text-lg font-medium bg-red text-white px-4 py-2 rounded">
											Email
										</a>
									{% endif %}
								</div>
							</div>
							<!-- Background Image -->
							{% include '_includes/_blocks/asset' with {
                                asset: contact.asset.one()
                            } %}
						</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>

	<!-- Modal Template -->
	<div id="contact-modal" style="height: calc(100vh - 400px);" class="fixed inset-0 bg-black bg-opacity-70 z-50 hidden justify-center items-center">
		<div class="bg-white rounded-lg p-8 relative w-3/4 h-full">
			<button class="absolute top-4 right-4 text-gray-500 hover:text-gray-800" id="modal-close">✖</button>
			<div id="modal-content" class="h-full grid grid-cols-12"></div>
		</div>
	</div>
{% endblock %}
