{% extends "index" %}

{% block content %}
	{# first banner #}
	{% if entry.asset|length %}
		{% include '_includes/_blocks/bannerSlides' with {
            block: entry
        } %}
	{% endif %}

	{# first slider #}
	<div
		class="page grid grid-cols-12 fade-in slider-button-js" data-cascade>

		<!-- Main Slide -->
		<div class="main-slide col-span-6 lg:col-span-7 xl:col-span-8 relative overflow-hidden bg-cover rounded-xl z-2">
			<div class="z-2 w-full h-full content absolute p-12 text-white flex justify-between items-end">
				<h2 class="text-6xl">{{ entry.sliderHeader }}</h2>
				{% include '_includes/_icons/arrowNext'  with {
					nextArrowClass: '!bg-white',
                    firstArrow: 'black-arrow',
					secondArrow: 'black-arrow'
                }%}
			</div>
			{% if entry.fixedSlideAsset|length %}
				{% include '_includes/_blocks/gradient'%}

				{% include '_includes/_blocks/asset' with {
                    asset: entry.fixedSlideAsset.one(),
                    class: 'h-full w-full object-cover'
                } %}
			{% endif %}
		</div>

		<!-- Secondary Slides -->
		<div class="col-span-6 lg:col-span-5 xl:col-span-4">
			{% include '_includes/_blocks/slider' with { 
				slides: entry.slides.all(),
				fadeIn: true,
				slideTemplate: '_includes/_blocks/slideMatrix',
				arrows: false,
				slideClass: '!w-full !max-w-full'
			} %}
		</div>
	</div>

	{# video between sliders #}
	<div class="w-full h-[800px] !-my-40 -z-1 overflow-hidden relative">
		{% include '_includes/_blocks/gradient' with {
            height: '1/3',
            opacity: 100,
            fromColor: 'white',
            class: 'bottom-0'
        } %}
		{% include '_includes/_blocks/gradient' with {
            height: '1/3',
            opacity: 100,
            fromColor: 'white',
            class: 'top-0',
            direction: 'b'
        } %}
		{% include '_includes/_blocks/asset' with {
            asset: entry.middleAsset.one(),
            class: 'w-full'
        } %}
	</div>


	{# second slider #}
	<div class="page grid grid-cols-4 md:grid-cols-6 lg:grid-cols-8 xl:grid-cols-12 fade-in" data-cascade>
		<div class="slider-wrapper col-span-12 grid grid-cols-subgrid">
			<div class="page col-span-12 flex justify-between mb-8">
				<h2 class="text-6xl">{{ entry.sliderHeader2 }}</h2>
				{% include '_includes/_icons/arrows' with {
					nextArrowClass: '!bg-charcoal',
					prevArrowClass: '!bg-charcoal'
				} %}
			</div>
			<div class="slider col-span-12">
				{% for block in entry.slidesLand.all() %}
					{% set columnSpan = block.columnSpan ?? 4 %}
					{% set color = block.color %}

					{% switch block.type.handle %}
						{% case 'singleSlide' %}
							{# Default columnSpan to 4 #}
							<div class="flex-none slide" style="width: calc(100% * ({{ columnSpan }}/12) - 1rem); max-width: calc(100% * ({{ columnSpan }}/12) - 1rem);">
								<div class="rounded-xl overflow-hidden h-[600px] relative bg-{{ color }}">
									{% if block.asset|length %}
										{% include '_includes/_blocks/gradient' with {
                                            height: '1/2',
                                            opacity: 40
                                        } %}
										{% include '_includes/_blocks/asset' with {
                                        asset: block.asset.one()
                                    } %}
									{% endif %}
									<div class="absolute z-2 space-y-4 p-8 bottom-0 text-white">
										{% if block.title|length %}
											<h3 class="text-4xl">{{ block.title }}</h3>
										{% endif %}
										{% if block.text|length %}
											{% include '_includes/_blocks/text' with {
                                                text: block.text,
                                                pClass: 'col-span-12 text-base max-w-[275px]'
                                            } %}
										{% endif %}
										{% if block.buttonLink|length %}
											{% include '_includes/_blocks/button' with {
                                                link: block.buttonLink,
                                                label: block.buttonLabel,
                                                class: '!bg-white !text-' ~ color ~' text-' ~ color
                                            } %}
										{% endif %}
									</div>
								</div>
							</div>

						{% case 'doubleSlide' %}
							{# Default columnSpan to 4 #}
							<div class="flex-none slide h-[600px] flex flex-col gap-y-6" style="width: calc(100% * ({{ columnSpan }}/12) - 1rem); max-width: calc(100% * ({{ columnSpan }}/12) - 1rem);">
								<div class="rounded-xl overflow-hidden relative h-1/2 bg-{{ color }}">

									{% if block.asset|length %}
										{% include '_includes/_blocks/gradient' with {
                                            height: '1/2',
                                            opacity: 40
                                        } %}
										{% include '_includes/_blocks/asset' with {
                                            asset: block.asset.one()
                                        } %}
									{% endif %}
									<div class="absolute z-2 p-8 space-y-4 bottom-0 text-white">
										{% if block.title|length %}
											<h3 class="text-4xl">{{ block.title }}</h3>

										{% endif %}
										{% if block.text|length %}
											{% include '_includes/_blocks/text' with {
                                                text: block.text,
                                                pClass: 'col-span-12 text-base max-w-[275px]'
                                            } %}
										{% endif %}
										{% if block.buttonLink|length %}
											{% include '_includes/_blocks/button' with {
                                                link: block.buttonLink,
                                                label: block.buttonLabel,
                                                class: '!bg-white !text-' ~ color ~' text-' ~ color
                                            } %}
										{% endif %}
									</div>
								</div>
								<div class="rounded-xl overflow-hidden relative h-1/2 bg-{{ color }}">
									{% if block.asset2|length %}
										{% include '_includes/_blocks/gradient' with {
                                            height: '1/2',
                                            opacity: 40
                                        } %}
										{% include '_includes/_blocks/asset' with {
                                            asset: block.asset2.one()
                                        } %}
									{% endif %}
									<div class="absolute z-2 space-y-4 p-8 bottom-0 text-white">
										{% if block.title2|length %}
											<h3 class="text-4xl">{{ block.title2 }}</h3>
										{% endif %}
										{% if block.text2|length %}
											{% include '_includes/_blocks/text' with {
                                                text: block.text2,
                                                pClass: 'col-span-12 text-base max-w-[275px]'
                                            } %}
										{% endif %}
										{% if block.buttonLink2|length %}
											{% include '_includes/_blocks/button' with {
                                                link: block.buttonLink2,
                                                label: block.buttonLabel2,
                                                class: '!bg-white !text-' ~ color ~' text-' ~ color
                                            } %}
										{% endif %}
									</div>
								</div>

							</div>

					{% endswitch %}
				{% endfor %}
			</div>
		</div>
	</div>

	{# second banner #}
	{% if entry.assetBottom|length %}
		{% include '_includes/_blocks/bannerSlides' with {
            block: entry,
            assets: entry.assetBottom.all(),
            text: entry.textBottom,
			buttonLabel: entry.buttonLabel,
			buttonLink: entry.buttonLink
        } %}
	{% endif %}

{% endblock %}
